
  
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Roboto+Condensed&display=swap');
:root{
    --main-bg-color: rgb(111, 185, 202);
}
*
{
    margin: 0;
    padding: 0;
}
header
{
  
  Background-color: var( --main-bg-color);
  font-family: 'Inter', sans-serif;
}
.logo
{
    display: flex;
    text-align: center;
    
}
.logo img
{
    
    width: 60px;
    padding: 0px 24px;
}
nav{
    display: flex;
}
nav ul
{
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav ul li
{
    list-style: none;
    padding: 0 23px;

}
nav ul li a
{
    color: white;
    text-decoration: none;
    
}
nav ul li a:hover
{
    color: black;
    font-weight: bolder;
}
.searchbar
{
    display:flex;
    align-items: center;
    
}

.searchbar input
{
    width: 27vw;
    height: 4vh;
    border-radius: 3px;
    margin: 0 12px 0 63px;
    padding: 0 12px;
}

.container
{
    min-height: calc(100vh - 60px - 10vh);
}
.slider
{
   display: flex;
   justify-content: center;
   padding:10px ;
   overflow: hidden;
}
.slider img
{
    margin: auto;
    width: 1000px;
    height: 300px;
}
.card{
    max-width: 91vw;
    margin: auto;
}
.cards{
    display: flex;
    justify-content: center;
}
.card-items
{
    display: inline-flex;
    justify-content: center;
    width: 10vw;
    flex-direction: column;
    margin: 0 50px;
    
}
.card-items:hover 
{
    transform : none;
    
}
.card-items img
{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.h2{
    font-family: 'Inter', sans-serif;
    
}
.lines
{
    font-family: 'Inter', sans-serif;
}

footer
{
    height: 10vh ;
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Inter', sans-serif;
}
